@font-face {
  font-family: telefonica;
  src: url(/font.ttf);
}
@font-face {
  font-family: telefonica;
  src: url(/font-bold.ttf);
  font-weight: 900;
}
@font-face {
  font-family: cursiva;
  src: url(/cursiva.ttf);
}

* {
  font-family: telefonica;
  box-sizing: border-box;
  color: #86888c;
}
a {
  text-decoration: none !important;
  color: #86888c !important;
}
body {
  margin: 0;
  padding: 0;
}
